name: SwiftLint

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  SwiftLint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
        env:
          DIFF_BASE: ${{ github.base_ref }}
          WORKING_DIRECTORY: VocabularyTrainer
          
